.hangman-drawing{
    position: relative;
}

.bottom {
    height: 10px;
    width: 250px;
    background-color: black;
}

.middle {
    height: 400px;
    width: 10px;
    background-color: black;
    margin-left: 120px;
}

.top {
    height: 10px;
    width: 200px;
    background-color: black;
    margin-left: 120px;
}

.side {
    height: 50px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0

}