.hidden-word-container {
    display: flex;
    gap: .25em;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}

.hidden-letters {
    border-bottom: .1em solid black;
}
